@*
This file is part of the mvc567 distribution (https://github.com/intellisoft567/mvc567).
Copyright (C) 2019 Codific Ltd.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@model StaticPageDto

<form class="w-100" asp-controller="AdminStaticPages" asp-action="@ViewData["FormType"]">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group my-3">
                <label>Html:</label>
                <textarea asp-for="HtmlContent" id="page-html-editor"></textarea>
            </div>
            <hr />
            <div class="form-group my-3">
                <label>Scripts:</label>
                <textarea asp-for="ScriptContent" id="page-scripts-editor"></textarea>
                <button type="button" id="obfuscate-page-scripts-btn" class="btn btn-secondary mt-3">Оbfuscate</button>
            </div>
            <hr />
            <div class="form-group my-3">
                <label>Оbfuscated Scripts:</label>
                <textarea asp-for="ОbfuscatedScriptContent" id="page-scripts-editor-min"></textarea>
            </div>
            <hr />
            <div class="form-group my-3">
                <label>Style:</label>
                <textarea asp-for="StyleContent" id="page-style-editor"></textarea>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Title:</label>
                <input class="form-control" type="text" asp-for="Title" />
                <span class="text-danger text-small" asp-validation-for="Title"></span>
            </div>
            <div class="form-group">
                <label>Route:</label>
                <input class="form-control" type="text" asp-for="Route" />
                <span class="text-danger text-small" asp-validation-for="Route"></span>
            </div>
            <div class="form-group">
                <label>Language:</label>
                <database-radio model-name="LanguageId" entity-type="@typeof(Language)" visible-property="Name" selected-value="@Model.LanguageId"></database-radio>
                <span class="text-danger text-small" asp-validation-for="LanguageId"></span>
            </div>
            <div class="form-group">
                <label>Active:</label>
                <bool-radio name="Active" value="@Model.Active"></bool-radio>
            </div>
            <div class="form-group">
                <label>Description:</label>
                <textarea class="form-control" asp-for="Description"></textarea>
            </div>
            <div class="form-group">
                <label>Keywords:</label>
                <input class="form-control" id="page-keywords" asp-for="Keywords" />
            </div>
            <div class="form-group">
                <label>Image:</label>
                <file-uploader name="ImageId" value="@Model.ImageId"></file-uploader>
            </div>
        </div>
        <div class="col-md-12">
            <hr />
            <div class="form-group">
                <button type="submit" class="btn btn-primary float-right">@ViewData["FormType"]</button>
            </div>
        </div>
    </div>
</form>
