@*
This file is part of the mvc567 distribution (https://github.com/codific/mvc567).
Copyright (C) 2019 Codific Ltd.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@if (ViewData["breadcrumbs"] != null && ((List<Codific.Mvc567.Common.Attributes.BreadcrumbItem>)ViewData["breadcrumbs"]).Count > 0)
{
    int orderMax = ((List<Codific.Mvc567.Common.Attributes.BreadcrumbItem>)ViewData["breadcrumbs"]).Select(x => x.Order).Max();
    <nav aria-label="breadcrumb" class="float-left d-inline-block p-2 w-100">
        <ol class="breadcrumb border-0 m-0 ml-2 border-radius-0 pt-0 pb-0 pl-0">
            @foreach (var breadcrumb in ((List<Codific.Mvc567.Common.Attributes.BreadcrumbItem>)ViewData["breadcrumbs"]).OrderBy(x => x.Order))
            {
                @if (breadcrumb.Active)
                {
                    if (!string.IsNullOrEmpty(breadcrumb.ParameterValue))
                    {
                        breadcrumb.ParameterValue = ViewData[breadcrumb.ParameterValue].ToString();
                    }

                    @if (breadcrumb.Title.StartsWith("[") && breadcrumb.Title.EndsWith("]"))
                    {
                        <li class="mr-2">
                            <a title="@ViewData[breadcrumb.Title]" class="btn btn-primary btn-sm p-1" href="@breadcrumb.ActionLink">@ViewData[breadcrumb.Title]</a>
                        </li>
                    }
                    else
                    {
                        <li class="mr-2">
                            <a title="@breadcrumb.Title" class="btn btn-primary btn-sm p-1" href="@breadcrumb.ActionLink">@breadcrumb.Title</a>
                        </li>
                    }

                }
                else
                {
                    if (breadcrumb.Title.StartsWith("[") && breadcrumb.Title.EndsWith("]"))
                    {
                        <li @((breadcrumb.Order == orderMax) ? "aria-current=\"page\"" : "")>
                            <a title="@ViewData[breadcrumb.Title]" class="btn btn-outline-light btn-disabled p-1 mr-2 cursor-normal text-light-gray @OrderMaxClass(breadcrumb.Order, orderMax)">@ViewData[breadcrumb.Title]</a>
                        </li>
                    }
                    else
                    {
                        <li @((breadcrumb.Order == orderMax) ? "aria-current=\"page\"" : "")>
                            <a title="@breadcrumb.Title" class="btn btn-outline-light btn-disabled p-1 mr-2 cursor-normal text-light-gray @OrderMaxClass(breadcrumb.Order, orderMax)">@breadcrumb.Title</a>
                        </li>
                    }
                }
            }
        </ol>
    </nav>
}

@functions {
private string OrderMaxClass(int order, int orderMax)
{
    if (order == orderMax)
    {
        return "current-breadcrumb";
    }
    return string.Empty;
}
}
