@*
This file is part of the mvc567 distribution (https://github.com/codific/mvc567).
Copyright (C) 2019 Codific Ltd.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@inject Codific.Mvc567.Services.Abstractions.IAdminMenuService adminMenuService
@{
    string roleName = User.Claims.Where(x => x.Type == System.Security.Claims.ClaimTypes.Role).Select(x => x.Value).FirstOrDefault();
    var navigationScheme = await adminMenuService.GetRoleShemeOrDefaultAsync<Codific.Mvc567.Dtos.ViewModels.AdminNavigationSchemeViewModel>(roleName);
}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        @if (navigationScheme != null && navigationScheme.Menus != null && navigationScheme.Menus.Count > 0)
        {
            foreach (var menuSection in navigationScheme.Menus)
            {
                if (menuSection.Single)
                {
                    if (string.IsNullOrEmpty(menuSection.ItemAction))
                    {
                        menuSection.ItemAction = "Index";
                    }
                    <menu-section controller="@menuSection.ItemController" title="@menuSection.Title" icon="@menuSection.Icon" single="true" href="@Url.Action(menuSection.ItemAction, menuSection.ItemController, new { Area = menuSection.ItemArea })" />
                }
                else
                {
                    <menu-section controller="@menuSection.ItemController" title="@menuSection.Title" icon="@menuSection.Icon">
                        @foreach (var navigationLink in menuSection.Children)
                        {
                            if (string.IsNullOrEmpty(navigationLink.ItemAction))
                            {
                                navigationLink.ItemAction = "Index";
                            }
                            <sidebar-navigation-link title="@navigationLink.Title" action="@navigationLink.ItemAction" controller="@navigationLink.ItemController" area="@navigationLink.ItemArea" />
                        }
                    </menu-section>
                }
            }
        }
    </ul>
</nav>
